@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------------------------------------Header*/

.header {
    margin: 0;
}


.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #525172;
}



/*------------------------------------------Navbar*/

.navdefault {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #525172;
    border-color: transparent;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}


/*------------------------------------------Carousel*/

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.big-1 {
    background-image: url('/assets/images/tourpic1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.bg-1 {
    color: #0DCDF3;
}

.bg-1 p {
    font-style: italic;
}

.list-group-item {
    background-color: transparent;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.thumbnail {
    background-color: transparent;
    border-color: transparent;
    
}


/*------------------------------------------Band*/
.band-info-item {
    text-align: center
}


/*------------------------------------------Tour*/    

.btn {
    background-color: #e84610;
    color: #fafafa;
    
}

ul {
    display: block;
    list-style-type: disc;
    padding-top: 20px;

}

/*------------------------------------------Media*/



h1, h2, h4 {
    margin: 0;
    padding-top: 80px
}


  .modal-header, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }


/*------------------------------------------Footer*/

footer {
    background-color: #3333336b;
    color: #fafafa;
    min-height: 120px;
    margin: 0px;
}

footer {
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer i:hover {
    color: #525172;
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #f5f5f5;
    background: #2980B9;
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

.social-links li a i:hover {
    background: #d0471a;
}

#footer-details {
    margin: 20px;
}


/*----------------------------------------------------Contact*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: -16.571429;
    color: #060c06;
    background-color: transparent;
    padding-top: 50px;
    padding-bottom: 25px;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 101px; 
    min-height: 457px;
    margin: 80px auto;
    max-width: 70%;
    background-color: transparent;
    border: 0px #333;
    padding: 18px 12px;
}

.center-form .form-control {
    margin-bottom: 25px;
}

.form-control {
  background-color: #f7d733;
  color: #333
}


button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}

button[type="click here"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}


/*----------------------------------------------------Media Queries*/

@media (min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }
    
    .center-form {
        padding-top: 30px; 
        min-height: 240px;
        margin: 80px auto;
        max-width: 50%;
    }
}

  .modal-header, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  
.colm-sm-4 {
    padding-bottom: 180px;
}  

